# Generated
ADB.Explorer/ADB.Explorer/ADB.Explorer
build/
PowerKeGS
_FileInformation.txt
*_Output.txt
*_Symbols.txt
*.2mg
*.a
*.adb
*.d
*.DS_Store
*.macros
*.po
*.r
*.ROOT
*.shk
PKGS.Init/PKGS.Init/PKGS.Init
Teach/

# Metadata not to share
*.xcuserdatad
.vscode/
.DS_Store

# Merlin32
Merlin32
Library

# Cadius
cadius

# Reference materials
adb.asm
tashnotes
source/
fmradio
PowerKey Mac software/
References/
