# Generated
PowerKeGS
_FileInformation.txt
*_Symbols.txt
*_Output.txt
*.2mg
*.po
*.shk

# Metadata not to share
*.xcuserdatad
.vscode/
.DS_Store

# Merlin32
Merlin32
Library

# Cadius
cadius

# Reference materials
adb.asm
tashnotes
source/
fmradio
PowerKey Mac software/
References/
